@charset "UTF-8";

:root {
    --cor1: #020122;
    --cor2: #E05125;
    --cor3: #D8D8D5;
    --cor4: #fefeff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Configurações da Navbar */

.img_logo_header {
    width: 122px;
    transform: translateY(28px);
}

.logo_header {
    z-index: 2;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--cor1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.538);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--cor4);
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover {
    color: var(--cor2);
}

#login {
    background-color: var(--cor4);
    width: 114px;
    color: black;
    text-align: center;
    border-radius: 22px;
    padding: 2px;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--cor4);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }
    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #05032c;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
}

#active {
    color: var(--cor2);
}

/* Configurações imagem de fundo */

img#fundo {
    width: 100%;
    height: 50vh;
}

/* Configurações de Títulos na imagem de fundo */

div#título {
    text-align: center;
    transform: translateY(-34px);
    text-shadow: 1px 1px 2px black;
    width: 100px;
}

h4#t1 {
    color: var(--cor4);
    transform: translate(85px, -231px);
    width: 240px;
    font-weight: normal;
}

h1#t2 {
    transform: translate(101px, -212px);
    width: 207px;
    color: white;
    font-weight: lighter;
}

h2#t3 {
    transform: translate(55px, -193px);
    color: white;
    font-weight: lighter;
    width: 300px;
}

/* Configurações da segunda parte do site */

div#parte2 {
    background-color: var(--cor1);
    width: 100%;
    height: 1773px;
    transform: translateY(-166px);
}

h1#t4 {
    color: var(--cor4);
    font-weight: lighter;
    transform: translate(36px, 41px);
    width: 350px;
}

img#moto {
    width: 250px;
    height: 192px;
    transform: translate(74px, 69px);
}

#valor1 {
    text-align: center;
    color: var(--cor4);
    transform: translate(121px, 53px);
    width: 140px;
}

p#p1 {
    color: var(--cor4);
    width: 224px;
    font-size: 19px;
    text-align: center;
    transform: translate(83px, 69px);
}

.botao {
   background-color: var(--cor2);
   color: white;
   text-decoration: none;
   padding: 12px;
   border-radius: 23px;
   cursor: pointer;
}

#botao1 {
    position: absolute;
    top: 565px;
    left: 119px;
}

a.active {
    color: var(--cor2);
}

#carro {
    width: 280px;
    height: 192px;
    transform: translate(57px, 160px);
}

#valor2 {
    color: var(--cor4);
    text-align: center;
    transform: translate(125px, 143px);
    width: 140px;
}

p#p2 {
    color: var(--cor4);
    width: 278px;
    text-align: center;
    font-size: 19px;
    transform: translate(62px, 156px);
}

#botao2 {
    position: absolute;
    top: 1105px;
    left: 122px;
}

#carroemoto {
    width: 346px;
    height: 179px;
    transform: translate(32px, 278px);
}

#valor3 {
    color: var(--cor4);
    text-align: center;
    transform: translate(133px, 268px);
    width: 140px;
}

p#p3 {
    color: var(--cor4);
    width: 370px;
    text-align: center;
    font-size: 19px;
    transform: translate(18px, 281px);
}

#botao3 {
    position: absolute;
    top: 1680px;
    left: 126px;
}

/* Configurações da parte de depoimentos */

div#parte3 {
    background-color: var(--cor4);
    width: 100%;
    transform: translateY(-113px);
}

h1#t5 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

p#p4 {
    text-align: center;
    width: 77%;
}

#container {
    width: 100%;
    height: 100vh;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

img.foto {
    width: 105px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--cor1);
}

img#foto1 {
    transform: translate(84px, -138px);
}

div#box1 {
    width: 200px;
    height: 100px;
    background-color: var(--cor1);
    transform: translate(37px, 100px);
}

span#nome1 {
    position: absolute;
    top: 65px;
    left: 45px;
    color: var(--cor4);
}

p#p5 {
    width: 267px;
    text-align: center;
    transform: translate(7px, 111px);
}

div#estrela1 {
    transform: translate(52px, 11px);
}

div.estrela > ul {
    display: flex;
    list-style: none;
}

div.estrela > ul > li {
    padding-left: 4px;
}

img#foto2 {
    transform: translate(84px, -145px);
}

div#box2 {
    width: 200px;
    height: 100px;
    background-color: var(--cor1);
    transform: translate(37px, 95px);
}

span#nome2 {
    position: absolute;
    top: 74px;
    left: 45px;
    color: var(--cor4);
}

p#p6 {
    width: 250px;
    text-align: center;
    transform: translate(16px, 114px);
}

div#estrela2 {
    transform: translate(52px, 15px);
}

img#foto3 {
    transform: translate(84px, -142px);
}

div#box3 {
    width: 200px;
    height: 100px;
    background-color: var(--cor1);
    transform: translate(37px, 94px);
}

span#nome3 {
    position: absolute;
    top: 74px;
    left: 39px;
    color: var(--cor4);
}

p#p7 {
    width: 281px;
    text-align: center;
    transform: translate(-1px, 113px);
}

div#estrela3 {
    transform: translate(51px, 14px);
}

@media screen and (max-width: 700px) {
    #container {
        height: auto;
    }

    #p4 {
        width: 90%;
    }
}


/* Configurações da quarta parte do site que apresenta o app */

div#parte4 {
    background-color: var(--cor3);
    width: 100%;
    height: 128%;
    transform: translateY(50px)
}

#texto {
    width: 400px;
    transform: translate(-9%, -213%);
}

h1#t6 {
    width: 315px;
    color: var(--cor2);
    text-align: center;
    transform: translate(95px, 41px);
}

p#p8 {
    width: 275px;
    text-align: center;
    font-weight: bold;
    transform: translate(120px, 65px);
}

#bt {
    background-color: var(--cor4);
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 14px;
    transform: translate(191px, 82px);
}

img#app {
    width: 365px;
    transform: translate(8%, 69%);
}

/* Configurações do rodapé */

footer {
    background-color: black;
    width: 100%;
    height: 247px;
    color: white;
    display: flex;
    padding-top: 20px;
    margin-top: -213px;
    transform: translateY(148%);
}

div#pt1 {
    margin-left: 13px;
}

div#pt2 {
    margin-left: 44px;
}

#tel {
    margin-bottom: 3px;
}

#number {
    margin-bottom: 6px;
}

#time {
    margin-bottom: 3px;
}

