@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    main > h2 {
        transform: translate(358px, 57px);
    }

    main > div#texto {
        transform: translate(269px, 66px);
    }

    main > div#texto2 {
        transform: translate(706px, -441px);
    }

    footer {
        margin-top: -140px;
    }
    
}