@charset "UTF-8";

@media screen and (min-width: 768px) {
    main > img#fundo {
        height: 84vh;
    }

    main > div#título {
        position: absolute;
        top: 79%;
        left: 14%;
    }

    main > div#título > h2#t3 {
        position: absolute;
        top: 186%;
        left: 280%;
    }

    main > div#parte2 {
        position: absolute;
        top: 117%;
        height: 737px;
    }

    main > div#parte3 {
        position: absolute;
        top: 217%;
    }

    div#parte2 > div#cartas > h1#t4 {
        position: absolute;
        left: 35%;
    }

    div#parte2 > div#cartas > div#cartaA {
        position: absolute;
        top: 7%;
        left: 6%;
    }

    div#parte2 > div#cartas > div#cartaB {
        position: absolute;
        top: -5%;
        left: 34%;
    }

    div#parte2 > div#cartas > div#cartaAB {
        position: absolute;
        top: -20%;
        left: 64%;
    }

    div#parte2 > div#cartas > div#cartaA > a#botao1 {
        width: 130px;
    }

    div#parte2 > div#cartas > div#cartaB > a#botao2 {
        position: absolute;
        top: 655px;
        left: 124px;
    }

    div#parte2 > div#cartas > div#cartaAB > a#botao3 {
        position: absolute;
        top: 766px;
        left: 130px;
        width: 130px;
    }

    div#parte3 > div#container > div#dep {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: -6%;
        left: -1%;
    }

    img#foto1 {
        position: absolute;
        top: 410px;
        left: 237px;
    }

    div#box1 {
        position: absolute;
        top: 221px;
        left: 238px;
    }

    p#p5 {
        position: absolute;
        top: 323px;
        left: 238px;
    }

    div#estrela1 {
        position: absolute;
        top: 525px;
        left: 241px;
    }

    img#foto2 {
        position: absolute;
        top: 419px;
        left: 561px;
    }

    div#box2 {
        position: absolute;
        top: 226px;
        left: 563px;
    }

    p#p6 {
        position: absolute;
        top: 321px;
        left: 563px;
    }

    div#estrela2 {
        position: absolute;
        top: 522px;
        left: 562px;
    }

    img#foto3 {
        position: absolute;
        top: 414px;
        left: 876px;
    }

    div#box3 {
        position: absolute;
        top: 227px;
        left: 875px;
    }

    p#p7 {
        position: absolute;
        top: 321px;
        left: 877px;
        width: 281px;
    }

    div#estrela3 {
        position: absolute;
        top: 521px;
        left: 876px;
    }

    h1#t5 {
        position: absolute;
        top: 12%;
        left: 45%;
    }

    p#p4 {
        position: absolute;
        top: 22%;
        left: 12%;
    }

    div#parte4 {
        position: absolute;
        top: 292%;;
    }

    div#parte4 > div#texto {
        transform: translate(171%, -196%);
    }

    #bt {
        position: absolute;
        top: 49%;
        left: 50.3%;
    }

    div#parte4 img#app {
        width: 450px;
        transform: translate(60%, 15%);
    }

    footer {
        position: absolute;
        top: 400%;
    }
}