@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    main > h2 {
        transform: translate(64%, 364%);
    }

    main > div#texto {
        transform: translate(89%, 26%);
    }

    main > div#texto2 {
        transform: translate(183%, -55%);
    }

    footer {
        margin-top: -345px;
    }
    
}