@charset "UTF-8";

@media screen and (min-width: 768px) {
    main > img#fundo {
        height: 80vh;
    }

    main > div#título {
        position: absolute;
        top: 515px;
        left: 180px;
    }

    main > div#título > h2#t3 {
        position: absolute;
        bottom: -127px;
        left: 270px;
    }

    main > div#parte2 {
        position: absolute;
        top: 738px;
        height: 737px;
    }

    main > div#parte3 {
        position: absolute;
        top: 1405px;
    }

    div#parte2 > div#cartas > h1#t4 {
        position: absolute;
        left: 448px;
    }

    div#parte2 > div#cartas > div#cartaA {
        position: absolute;
        top: 52px;
        left: 107px;
    }

    div#parte2 > div#cartas > div#cartaB {
        position: absolute;
        top: -38px;
        left: 441px;
    }

    div#parte2 > div#cartas > div#cartaAB {
        position: absolute;
        top: -150px;
        left: 811px;
    }

    div#parte2 > div#cartas > div#cartaA > a#botao1 {
        width: 130px;
    }

    div#parte2 > div#cartas > div#cartaB > a#botao2 {
        position: absolute;
        top: 655px;
        left: 124px;
    }

    div#parte2 > div#cartas > div#cartaAB > a#botao3 {
        position: absolute;
        top: 766px;
        left: 128px;
        width: 130px;
    }

    div#parte3 > div#container > div#dep {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        transform: translate(-683px, -360px);
    }

    img#foto1 {
        position: absolute;
        top: 442px;
        left: 235px;
    }

    div#box1 {
        position: absolute;
        top: 221px;
        left: 238px;
    }

    p#p5 {
        position: absolute;
        top: 323px;
        left: 238px;
    }

    div#estrela1 {
        position: absolute;
        top: 556px;
        left: 238px;
    }

    img#foto2 {
        position: absolute;
        top: 449px;
        left: 561px;
    }

    div#box2 {
        position: absolute;
        top: 226px;
        left: 563px;
    }

    p#p6 {
        position: absolute;
        top: 321px;
        left: 569px;
    }

    div#estrela2 {
        position: absolute;
        top: 552px;
        left: 564px;
    }

    img#foto3 {
        position: absolute;
        top: 449px;
        left: 876px;
    }

    div#box3 {
        position: absolute;
        top: 227px;
        left: 875px;
    }

    p#p7 {
        position: absolute;
        top: 321px;
        left: 861px;
        width: 281px;
    }

    div#estrela3 {
        position: absolute;
        top: 553px;
        left: 876px;
    }

    h1#t5 {
        transform: translateY(-151px);
    }

    p#p4 {
        transform: translateY(-151px);
    }

    div#parte4 {
        position: absolute;
        top: 1941px;
    }

    div#parte4 > div#texto {
        transform: translate(750px, 100px);
    }

    div#parte4 > div#texto > img#app {
        width: 450px;
        transform: translate(-480px, -310px);
    }

    footer {
        position: absolute;
        top: 2802px;
    }

}