@charset "UTF-8";

:root {
    --cor1: #020122;
    --cor2: #E05125;
    --cor3: #D8D8D5;
    --cor4: #fefeff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Configurações da Navbar */

.img_logo_header {
    width: 122px;
    transform: translateY(28px);
}

.logo_header {
    z-index: 2;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--cor1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.538);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--cor4);
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover {
    color: var(--cor2);
}

#login {
    background-color: var(--cor4);
    width: 114px;
    color: black;
    text-align: center;
    border-radius: 22px;
    padding: 2px;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--cor4);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }
    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #05032c;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
}

#active {
    color: var(--cor2);
}

/* Configurações de div */

div#quadrado {
    background-color: var(--cor1);
    width: 84%;
    height: 88%;
    position: absolute;
    top: 18%;
    left: 8%;
}

#txt1 {
    text-align: center;
    transform: translate(-65px, 10px);
    font-size: 16px;
}

#txt2 {
    text-align: center;
    transform: translate(-65px, 10px);
    font-size: 16px;
}

#txt3{
    text-align: center;
    transform: translate(-65px, 10px);
    font-size: 16px;
}

div#r1 {
    border: 4px solid var(--cor4);
    color: var(--cor2);
    width: 198px;
    height: 64px;
    transform: translate(111px, -83px);
}

div#r2 {
    border: 4px solid var(--cor4);
    color: var(--cor2);
    width: 198px;
    height: 64px;
    transform: translate(111px, -83px);
}

div#r3 {
    border: 4px solid var(--cor4);
    color: var(--cor2);
    width: 198px;
    height: 64px;
    transform: translate(111px, -83px);
}

p#p2 {
    transform: translate(100px, -27px);
    font-size: 14px;
}

p#p3 {
    color: black;
    background-color: var(--cor4);
    width: 70px;
    padding: 2px;
    border-radius: 17px;
    transform: translate(97px, -22px);
    font-size: 15px;
    text-align: center;
}

p#p4 {
    transform: translate(100px, -27px);
    font-size: 14px;
}

p#p5 {
    color: black;
    background-color: var(--cor4);
    width: 70px;
    padding: 2px;
    border-radius: 17px;
    transform: translate(97px, -22px);
    font-size: 15px;
    text-align: center;
}

p#p6 {
    transform: translate(100px, -27px);
    font-size: 14px;
}

p#p7 {
    color: black;
    background-color: var(--cor4);
    width: 70px;
    padding: 2px;
    border-radius: 17px;
    transform: translate(97px, -22px);
    font-size: 15px;
    text-align: center;
}

/* Configurações de formulário */

form {
    height: 460px;
}

div#bloco1 {
    transform: translate(37%, 7%);
    width: 300px;
    height: 523px;
}

div#bloco2 {
    transform: translate(284%, -153%);
    width: 250px;
}

form > div#bloco1 > [type=text], [type=tel] {
    border-radius: 20px;
    padding: 4px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 6px;
}

#valores {
    transform: translate(39px, -81px);
    width: 20px;
}

form > div#bloco1 > [type=radio]{
    margin-top: 38px;
    margin-bottom: 6px;
}

form > div#bloco2 > [type=radio]{
    margin-top: 9px;
    margin-bottom: 7px;
}

form > div#bloco2 > [type=text], [type=date], [type=time] {
    margin-top: 5px;
    margin-bottom: 8px;
}

form > div#bloco2 > [type=text] {
    border-radius: 20px;
    padding: 4px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}


#cart1 {
    text-align: center;
    padding: 5px;
    padding-left: 37px;
    padding-right: 36px;
    color: black;
    background-color: var(--cor4);
    border-radius: 15px;
}

#cart2 {
    color: black;
    background-color: var(--cor4);
    padding: 5px;
    padding-left: 37px;
    padding-right: 36px;
    border-radius: 15px;
}

#cart3 {
    color: black;
    background-color: var(--cor4);
    padding: 5px;
    padding-left: 27px;
    padding-right: 26px;
    border-radius: 15px;
}

#car1 {
    color: black;
    background-color: var(--cor4);
    padding: 5px;
}

#car2 {
    color: black;
    background-color: var(--cor4);
    padding: 5px;
    padding-right: 23px;
}

div#bloco3 {
    transform: translateY(10px);
}

div#bloco3 > [type=radio]{
    margin-bottom: 7px;
    margin-top: 10px;
}

label {
    color: var(--cor2);
    cursor: pointer;
}

.color {
    background-color: var(--cor4);
    color: black;
    padding: 5px;
    text-align: center;
}

#botao {
    background-color: var(--cor2);
    color: var(--cor4);
    border: none;
    padding: 16px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transform: translate(432%, -697%);
}
