@charset "UTF-8";

:root {
    --cor1: #020122;
    --cor2: #E05125;
    --cor3: #D8D8D5;
    --cor4: #fefeff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Configurações da Navbar */

.img_logo_header {
    width: 122px;
    transform: translateY(28px);
}

.logo_header {
    z-index: 2;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--cor1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.538);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--cor4);
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover {
    color: var(--cor2);
}

#login {
    background-color: var(--cor4);
    width: 114px;
    color: black;
    text-align: center;
    border-radius: 22px;
    padding: 2px;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--cor4);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }
    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #05032c;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
}

#active {
    color: var(--cor2);
}

/* Configurações de div */

div#quadrado {
    position: absolute;
    top: 17%;
    left: 5%;
    background-color: var(--cor1);
    width: 90%;
    height: 79%;
}


/* Configurações do botão de navegação */

.botao {
    position: absolute;
    top: 20%;
    left: 20%;
    text-decoration: none;
    font-weight: bold;
}

#alunos {
    transform: translate(-93px, -10px);
    background: var(--cor4);
    color: var(--cor2);
    padding: 10px;
    border-radius: 20px;
    width: 115px;
    text-align: left;
}

#funcionario {
    color: var(--cor4);
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 20px;
    transform: translate(-15px, -10px);
    width: 157px;
    text-align: center;
}

#switch {
    position: absolute;
    top: 7%;
    left: 71%;
}

/* Configurações barra de pesquisa */

#ipes {
    transform: translate(98px, 30px);
    padding: 5px;
    width: 287px;
}
