@charset "UTF-8";

:root {
    --cor1: #020122;
    --cor2: #E05125;
    --cor3: #D8D8D5;
    --cor4: #fefeff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Configurações da Navbar */

.img_logo_header {
    width: 122px;
    transform: translateY(28px);
}

.logo_header {
    z-index: 2;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--cor1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.538);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--cor4);
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover {
    color: var(--cor2);
}

#login {
    background-color: var(--cor4);
    width: 114px;
    color: black;
    text-align: center;
    border-radius: 22px;
    padding: 2px;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--cor4);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }
    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #05032c;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
}

#active {
    color: var(--cor2);
}

/* Configurações de div */

div#quadrado {
    background-color: var(--cor1);
    width: 88%;
    height: 81%;
    position: absolute;
    top: 16%;
    left: 6%;
}

/* Configurações botões */

a.botao {
    background-color: var(--cor4);
    color: var(--cor2);
    text-decoration: none;
    padding: 12px;
    border-radius: 24px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
}

#active2 {
    background-color: var(--cor2);
    color: var(--cor4);
    padding-left: 29px;
    padding-right: 29px;
}

div#bloco1 {
    position: absolute;
    top: 9%;
    left: 12%;
}

div#bloco2 {
    position: absolute;
    top: 25%;
    left: 11.8%;
}

#Janeiro {
    padding-left: 37px;
    padding-right: 43px;
}

#Fevereiro {
    padding-left: 30px;
    padding-right: 30px;
}

#Março {
    padding-left: 46px;
    padding-right: 43px;
}

#Abril {
    padding-left: 53px;
    padding-right: 55px;
}

#Maio {
    padding-left: 56px;
    padding-right: 51px;
}

#Junho {
    padding-left: 47px;
    padding-right: 49px;
}

#Julho {
    padding-left: 49px;
    padding-right: 50px;
}

#Agosto {
    padding-left: 43px;
    padding-right: 40px;
}

#Setembro {
    padding-left: 30px;
    padding-right: 30px;
}

#Outubro {
    padding-left: 36px;
    padding-right: 35px;
}

#Novembro {
    padding-left: 30px;
    padding-right: 30px;
}

#Dezembro {
    padding-left: 30px;
    padding-right: 30px;
}

