@charset "UTF-8";

:root {
    --cor1: #020122;
    --cor2: #E05125;
    --cor3: #D8D8D5;
    --cor4: #fefeff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Configurações da Navbar */

.img_logo_header {
    width: 122px;
    transform: translateY(28px);
}

.logo_header {
    z-index: 2;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--cor1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.538);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--cor4);
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover {
    color: var(--cor2);
}

#login {
    background-color: var(--cor4);
    width: 114px;
    color: black;
    text-align: center;
    border-radius: 22px;
    padding: 2px;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--cor4);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }
    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #05032c;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
}

#active {
    color: var(--cor2);
}

/* Configurações dos Textos */

h2 {
    transform: translate(20px, 56px);
    width: 366px;
    text-align: center;
    font-size: 18px;
}

p#p1 {
    width: 300px;
    text-align: center;
}

p#p2 {
    width: 300px;
    text-align: center;
}

p#p3 {
    width: 342px;
    text-align: center;
    transform: translate(40px, 91px);
}

p#p4 {
    width: 300px;
    text-align: center;
    transform: translate(56px, 114px);
}

div#texto {
    width: 300px;
    transform: translate(61px, 71px);
}

div#texto2 {
    width: 400px;
}

/* Configurações de Imagem */

#img1 {
    width: 300px;
    height: 193px;
    transform: translate(55px, 85px);
}

#img2 {
    width: 300px;
    height: 193px;
    transform: translate(55px, 104px);
}

/* Configurações do rodapé */

footer {
    background-color: black;
    width: 100%;
    height: 123px;
    color: white;
    display: flex;
    padding-top: 21px;
    margin-top: 200px;
}

div#pt1 {
    margin-left: 13px;
}

div#pt2 {
    margin-left: 44px;
}

#tel {
    margin-bottom: 3px;
}

#number {
    margin-bottom: 6px;
}
