@charset "UTF-8";

:root {
    --cor1: #020122;
    --cor2: #E05125;
    --cor3: #D8D8D5;
    --cor4: #fefeff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Configurações da Navbar */

.img_logo_header {
    width: 122px;
    transform: translateY(28px);
}

.logo_header {
    z-index: 2;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--cor1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.538);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--cor4);
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover {
    color: var(--cor2);
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--cor4);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }
    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #05032c;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
}

#active {
    color: var(--cor2);
}

/* Configurações de div */

div.quadrado {
    background-color: var(--cor1);
    height: 70%;
    width: 74%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Configurações do formulário */

form {
    height: 460px;
}

div#bloco1 {
    transform: translate(128px, 67px);
    width: 228px;
}

div#bloco2 {
    transform: translate(607px, -241px);
    width: 240px;
}

form > div#bloco1 > input[type=text], input[type=email], input[type=date], input[type=tel]{
    border-radius: 13px;
    border: none;
    padding: 4px;
}

form > div#bloco2 > input[type=text], input[type=number]{
    border-radius: 13px;
    border: none;
    padding: 4px;
}

#inome {
    width: 260px;
}

#iend {
    width: 260px;
}

#iemail {
    width: 260px;
}

#opcao1 {
    text-decoration: none;
    color: var(--cor4);
    background-color: var(--cor2);
    border: none;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 302px;
}

#opcao2 {
    text-decoration: none;
    color: var(--cor2);
    background-color: var(--cor4);
    border: none;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 546px;
}

form > input[type=submit] {
    background-color: var(--cor2);
    color: var(--cor4);
    border: none;
    cursor: pointer;
    transform: translate(446px, -146px);
    padding: 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
}

.esp {
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    color: var(--cor2);
    font-weight: normal;
}