@charset "UTF-8";

:root {
    --cor1: #020122;
    --cor2: #E05125;
    --cor3: #D8D8D5;
    --cor4: #fefeff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Configurações da Navbar */

.img_logo_header {
    width: 122px;
    transform: translateY(28px);
}

.logo_header {
    z-index: 2;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--cor1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.538);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--cor4);
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover {
    color: var(--cor2);
}

#login {
    background-color: var(--cor4);
    width: 114px;
    color: black;
    text-align: center;
    border-radius: 22px;
    padding: 2px;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--cor4);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }
    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #05032c;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
}

/* Configurações imagem de fundo */

img#fundo {
    width: 100%;
    height: 53vh;
    transform: translate(-1px, -2px);
}

/* Configurações de Títulos na imagem de fundo */

div#título {
    text-align: center;
    transform: translateY(-34px);
    text-shadow: 1px 1px 2px black;
}

h4#t1 {
    color: var(--cor4);
    transform: translate(85px, -231px);
    width: 240px;
    font-weight: normal;
}

h1#t2 {
    transform: translate(101px, -212px);
    width: 207px;
    color: white;
    font-weight: lighter;
}

h2#t3 {
    transform: translate(55px, -193px);
    color: white;
    font-weight: lighter;
    width: 300px;
}

/* Configurações da segunda parte do site */

div#parte2 {
    background-color: var(--cor1);
    width: 100%;
    height: 2000px;
    transform: translateY(-166px);
}

h1#t4 {
    color: var(--cor4);
    font-weight: lighter;
    transform: translate(36px, 41px);
    width: 350px;
}

img#moto {
    width: 250px;
    height: 192px;
    transform: translate(74px, 69px);
}

#valor1 {
    text-align: center;
    color: var(--cor4);
    transform: translate(-46px, 53px);
}

p#p1 {
    color: var(--cor4);
    width: 224px;
    font-size: 19px;
    text-align: center;
    transform: translate(83px, 69px);
}

.botao {
   background-color: var(--cor2);
   color: white;
   text-decoration: none;
   padding: 12px;
   border-radius: 23px;
   cursor: pointer;
}

#botao1 {
    position: absolute;
    top: 565px;
    left: 119px;
}

#carro {
    width: 280px;
    height: 192px;
    transform: translate(57px, 160px);
}

#valor2 {
    color: var(--cor4);
    text-align: center;
    transform: translate(-46px, 139px);
}

p#p2 {
    color: var(--cor4);
    width: 278px;
    text-align: center;
    font-size: 19px;
    transform: translate(62px, 156px);
}

#botao2 {
    position: absolute;
    top: 1105px;
    left: 122px;
}

#carroemoto {
    width: 346px;
    height: 179px;
    transform: translate(32px, 265px);
}

#valor3 {
    color: var(--cor4);
    text-align: center;
    transform: translate(-53px, 264px);
}

p#p3 {
    color: var(--cor4);
    width: 370px;
    text-align: center;
    font-size: 19px;
    transform: translate(11px, 300px);
}

#botao3 {
    position: absolute;
    top: 1680px;
    left: 115px;
}