@charset "UTF-8";

:root {
    --cor1: #020122;
    --cor2: #E05125;
    --cor3: #D8D8D5;
    --cor4: #fefeff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Configurações da Navbar */

.img_logo_header {
    width: 122px;
    transform: translateY(28px);
}

.logo_header {
    z-index: 2;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--cor1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.538);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--cor4);
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover {
    color: var(--cor2);
}

#login {
    background-color: var(--cor4);
    width: 114px;
    color: black;
    text-align: center;
    border-radius: 22px;
    padding: 2px;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--cor4);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }
    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #05032c;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
}

#active {
    color: var(--cor2);
}

/* Configurações de div */

div#quadrado {
    background-color: var(--cor1);
    width: 88%;
    height: 100%;
    position: absolute;
    top: 16%;
    left: 6%;
}

/* Configurações Calendário */

.conteudo {
    left: 50%;
    margin: 0 0 0 -250px;
    position: absolute;
    width: 500px;
}

.calendario {
    text-align: center;
}

.conteudo .calendario header {
    position: relative;
}

h2 {
    margin-top: 20px;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--cor4);
}

.btn-ant, .btn-pro {
    position: absolute;
    top: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    font-size: 16px;
    font-weight: bold;
}

.btn-ant {
    left: 80px;
}

.btn-pro {
    right: 80px;
}

.btn-ant:hover, .btn-pro:hover {
    background: #cbd1d2;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

.calendario thead {
    background: white;
    font-weight: 600;
    text-transform: uppercase;
}

.calendario td {
    border: 1px solid #cbd1d2;
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}

.calendario tbody td{
    cursor: pointer;
    color: var(--cor4);
}

.calendario tbody td:hover {
    background: rgba(0, 173, 223, 0.8);
    color: #f9f9f9;
}

.calendario table .dia-atual {
    background: #00addf;
    color: #f9f9f9;
}

.calendario .mes-anterior, .calendario .proximo-mes {
    color: #cbd1d2;
}

.calendario .mes-anterior, .calendario .proximo-mes:hover {
    background: #98a0a0;
}

.event {
    position: relative;
}

.event:after{
    content: '';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background-color: #00addf;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.event:hover::after{
    background: #f9f9f9;
}

.event.dia-atual::after {
    background: #f9f9f9;
}
